body {
  background: #f2dfdf;
   font-family: Times;
   max-width: 900px;
   margin: auto;

}

.photo {
  border: 2px solid #000;  
  border-radius: 50%;  
}

#title, .subtitle, .post_title {    
  color: #000;
  margin: 25px;    
  margin-top: 25px;
  font-style: italic;
  font-size: 18px;
}

#title {
  font-size: 30px;
  text-transform: uppercase;
  font-style: normal;
}

a {
  text-decoration: underline;
  color: #000;
  font-size: 18px; 
  
}

.post_title {
  font-size: 19px;
  font-style: italic;
  margin: 0;
  margin-bottom: 15px; 
}

.post {
  background: #d1d6d4;
  padding: 25px;
  border: 4px dashed #000000;
  margin-bottom: 15px;
  border-radius: 5%;
}

.post_content {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  text-align: left;
}

.post_image {
  margin: 0;
  margin-bottom: 15px;
  border-radius: 10%; 
  width: 100%; 
}

.contacts_list {
  list-style-type: square;
  padding-left: 50px;
}

.contacts_list li a {
  color: blue;
  text-decoration: none;
}

.rodape {
  font-size: 15px;
  padding-left: 50px;
}